<!DOCTYPE HTML>
<html>
<head>
<link rel="stylesheet" type="text/css" href="static/client.css">
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>

</head>

<center>
<div id="loginPage" class="box">
  <h1>Login</h1>
     <div id="loginMessage" class="message"></div>
    <form>
      Username: <input id="username" type="text" name="username"><br>
      Password: <input id="password" type="password" name="password"><br>
      <input id="loginButton" type="submit" value="Login">
      <input id="RegisterButton" type="submit" value="Register">
    </form>
</div>

<div id="welcomePage" class="box">
  <h1><div id="welcomeTitle" class="message"></div></h1>
  <div id="welcomeContent" class="message"></div>
    <form>
      <input type="submit" id="logoutButton" value="Logout">
    </form>
</div>
</center>

<script>
	SUCCESS = 1;
	ERR_BAD_CREDENTIALS = -1;
	ERR_USER_EXISTS = -2;
	ERR_BAD_USERNAME = -3;
	ERR_BAD_PASSWORD = -4;

        whileLoad();
        function whileLoad(){
		$('#loginPage').hide();
		$('#welcomePage').hide();	
	}

        $(document).ready(function() {
                showLogin('Please enter your credentials below');});
	
	function showLogin(message) {
         	$('#loginPage').show();	
	        $('#welcomePage').hide();
		$('#loginMessage').html(message);
                $('#username').val("");
                $('#password').val("");
	}
	
	function showWelcome(user, count) {
		$('#loginPage').hide();
		$('#welcomePage').show();
		$('#welcomeTitle').html('Welcome '+user);
                $('#welcomeContent').html('You have logged in '+count+' times');
	}

	function sendRequest(page, dict, success, failure) {
	    jQuery.ajax({
	        type: 'POST',
	        url: page,
	        data: JSON.stringify(dict),
	        contentType: "application/json",
	        dataType: "json",
	        success: success,
	        failure: failure
	    });
	}
	
	$('#loginButton').click(function() {
		username = $('#username').val();
		password = $('#password').val();
                dict = {user: username, password: password}
                success = function(data) {return handleLogin(data,username);}
                failure = function(error) { alert('error occurred on request');}
		sendRequest('/users/login',dict,success,failure);
		return false;
	});

	function handleLogin(data, user) {
		if (data.errCode == ERR_BAD_CREDENTIALS) {
	                showLogin('Invalid username and password combination. Please try again. ');			
		} else {
	        	showWelcome(user, data.count);
		} 
	}
	
	$('#RegisterButton').click(function() {
		username = $('#username').val();
		password = $('#password').val();
                dict = {user: username, password: password}
                success = function(data) {return handleRegister(data,username);}
                failure = function(error) { alert('error occurred on request');}
		sendRequest('/users/add',dict,success,failure);
		return false;
	});

	
	function handleRegister(data, user) {
		if (data.errCode == ERR_BAD_USERNAME) {
			showLogin('The user name should be non-empty and at most 128 characters long. Please try again.');
		} else if (data.errCode == ERR_BAD_PASSWORD) {
			showLogin('The password should be at most 128 characters long. Please try again');
		} else if (data.errCode == ERR_USER_EXISTS) {
			showLogin('This user name already exists. Please try again.');
		} else {
                        showWelcome(user, data.count);
                }
	}
	
	$('#logoutButton').click(function() {
                showLogin('Please enter your credentials below');
		return false;
	});
	
</script>

<body>
</body>
</html>
