/* This file contains the style parameters for the sample client. */


.box {
    margin: 150px 20px 10px 20px;
    width: 400px;
    height: 300px;
    border:2px solid;
    border-radius:25px;
    color:#ffffff;
    background-color: rgb(51,52,59);
    box-shadow: 10px 10px 5px #888888;
}

input[type="text"] {
border: 2px solid #000000;
background-color: #ffffff;
color:#32829D;
}

input[type="password"] {

border: 2px solid #000000;
background: #ffffff;
color:#32829D;
}

input[type="submit"] {
    width: 80px;
    height: 50px;
border: none;
background: transparent;
color:#FFFFFF;
}


.message {
    margin: 40px 20px 10px 20px;
    color:#FFFFFF;
    
}

body {
	background-color: #323941;
}